@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;600;700&family=Sometype+Mono:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Sometype Mono', monospace;
}